{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}My Profile{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset('css/profile.css') }}" rel="stylesheet">
        {% endblock %}

    </head>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="container emp-profile" style="width: 65%">
                <!-- Modal -->
                <div class="modal fade" id="edit" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true"></button>
                                <h4 class="modal-title" id="myModalLabel">Edit profile </h4>
                            </div>
                            <div class="modal-body">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_row(form.username) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.firstName) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.lastName) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.bio) }}
                                </div>
                                <div style="margin-bottom: 20px">
                                    {{ form_row(form.save) }}
                                </div>
                                {{ form_end(form) }}

                            </div>
                            <div class="modal-footer">
                                <center>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancel
                                    </button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            {% if user.avatar!=null %}
                                <img style="width: 70%;object-fit: cover"
                                     src="{{ asset('images/'~user.avatar) }}" alt=""/>
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <form action="{{ path('uploadAvatar') }}" id="myForm" enctype="multipart/form-data"
                                          method="post">
                                        <input type="file" name="file" onchange="submitform()"/>
                                    </form>
                                </div>
                            {% else %}
                                <img style="width: 70%"
                                     src="{{ asset('images/avatar.png') }}" alt=""/>
                                <div class="file btn btn-lg btn-primary">
                                    Upload Photo
                                    <form action="{{ path('uploadAvatar') }}" id="myForm" enctype="multipart/form-data"
                                          method="post">
                                        <input type="file" name="file" onchange="submitform()"/>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                {{ user.firstName }} {{ user.lastName }}
                            </h5>
                            <h6>
                                Role:
                                {% if is_granted('ROLE_MODERATOR') %}
                                    MODERATOR|
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    ADMIN|
                                {% endif %}
                                {% if not is_granted('ROLE_MODERATOR') and not is_granted('ROLE_ADMIN') %}
                                    USER
                                {% endif %}
                            </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile" aria-selected="false">Bio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div style="display: flex;justify-content: space-around;flex-direction: row">
                            <a href="#editing" data-toggle="modal" data-target="#edit">
                                <button class="profile-edit-btn">Edit Profile</button>
                            </a>
                            {% if app.user.googleId==null %}
                            <a href="{{ path('fos_user_change_password') }}">
                                <button class="profile-edit-btn">Change Password</button>
                            </a>
                            {% endif %}
                            <button class="profile-edit-btn" onclick="disable({{ app.user.id }})">Disable account
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Following:</p>
                            {% for mod in user.myFollowers %}
                                <a href="{{ path('moderatorReviews',{'moderator':mod.username}) }}"> {{ mod.username }}</a>
                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Username</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.username }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.firstName }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Surname</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.lastName }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ user.email }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                {{ user.bio }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block aside %}
                {{ parent() }}
            {% endblock %}
        </div>
    </main>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script>

            function submitform() {
                document.getElementById('myForm').submit();
            }

            function disable(id) {
                swal({
                    text: "Are you sure you want to disable your account?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                type: "POST",
                                url: '{{ path('disableUser') }}',
                                success: function (result) {
                                    if (result === "true") {
                                        window.location.assign('{{ path('fos_user_security_logout') }}');
                                    }
                                }
                            });
                        }
                    });

            }
        </script>
    {% endblock %}