{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Categories{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
            <style>

            </style>

        {% endblock %}

    </head>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div style="width:65%;">
                {% for cat in categories %}
                    <h4><a href="{{ path('categoryReviews',{'category':cat.name|escape('url')}) }}">{{ cat.name }}</a></h4>
                {% endfor %}
                {% if is_granted("ROLE_MODERATOR") and app.user.blocked==0 %}
                    {{ form(form,{'method':'post'}) }}
                {% endif %}
            </div>
    {% block aside %}
        {{ parent() }}
    {% endblock %}
    </div>
    </main>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}