<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>

        <link href='{{ asset('fullcalendar-3.10.0/fullcalendar.min.css') }}' rel='stylesheet' />

        <link href='{{ asset('fullcalendar-3.10.0/fullcalendar.print.css') }}' rel='stylesheet' media='print' />

    {% endblock %}

</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">Movieception</a>
        {#<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" id="search">#}
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Sign out</a>
            </li>
        </ul>
    </nav>
{% endblock %}

<div class="container-fluid">
    <div class="row">
        {% block sidebar %}
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('dashboard') }}">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('users') }}">
                                <span data-feather="users"></span>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('reviews') }}">
                                <span data-feather="file-text"></span>
                                Reviews
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('calendar') }}">
                                <span data-feather="calendar"></span>
                                Calendar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}
    </div>
</div>
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>

    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <!-- Data Table -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src='{{ asset('fullcalendar-3.10.0/lib/moment.min.js') }}'></script>
    <script src='{{ asset('fullcalendar-3.10.0/lib/jquery.min.js') }}'></script>

    <script src='{{ asset('fullcalendar-3.10.0/fullcalendar.min.js') }}'></script>
    <script>
        $("#search").keyup(function (event) {
            if (event.keyCode === 13) {
                window.location.assign('{{ path('userSearch') }}?key=' + document.getElementById('search').value)
            }
        });

        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
</body>
