<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.1/examples/blog/blog.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />

    {% endblock %}
</head>
<body>

{% block navbar %}
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="btn btn-sm btn-outline-secondary" href={{ path('fos_user_security_login') }}>Sign
                            in</a>
                    {% endif %}
                    {% if is_granted("ROLE_MODERATOR") %}
                        {% if app.user.blocked==0 %}
                            <a class="btn btn-sm btn-outline-secondary" href={{ path('addReview') }}>Add Review</a>
                        {% else %}
                            <button class="btn btn-sm btn-outline-secondary" disabled="disabled">Add Review</button>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="{{ path('home') }}">Movieception</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <div style="cursor: pointer;margin-right: 10px">
                        <input type="text" placeholder="Search..." id="search">
                    </div>
                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="btn btn-sm btn-outline-secondary" href={{ path('fos_user_registration_register') }}>Sign
                            up</a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-secondary" href={{ path('fos_user_security_logout') }}>Sign
                            out</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="p-2 text-muted" href="{{ path('feed') }}">My Feed</a>
                {% endif %}
                <a class="p-2 text-muted" href="{{ path('recentReviews') }}">Most Recent</a>
                <a class="p-2 text-muted" href={{ path('popularReviews') }}>Most Popular</a>
                <a class="p-2 text-muted" href={{ path('categories') }}>Categories</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="p-2 text-muted" href="{{ path('profile') }}">My Profile</a>
                {% endif %}
                {% if is_granted("ROLE_MODERATOR") %}
                    <a class="p-2 text-muted" href="{{ path('moderatorReviews',{'moderator':app.user.username}) }}">My
                        Reviews</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                <a class="p-2 text-muted" href="{{ path('dashboard') }}">Go to Dashboard</a>
                {% endif %}
                <a class="p-2 text-muted" href="{{ path('about') }}">About Us</a>
                {% if not is_granted("ROLE_ADMIN") and is_granted("ROLE_USER") %}
                <a class="p-2 text-muted" href="{{ path('chat') }}">Contact Us
                <sup>({{ getNrMessages(app.user) }})</sup></a>
                {% endif %}

                {#<a class="p-2 text-muted" href="#">Business</a>#}
                {#<a class="p-2 text-muted" href="#">Politics</a>#}
                {#<a class="p-2 text-muted" href="#">Opinion</a>#}
                {#<a class="p-2 text-muted" href="#">Science</a>#}
                {#<a class="p-2 text-muted" href="#">Health</a>#}
                {#<a class="p-2 text-muted" href="#">Style</a>#}
                {#<a class="p-2 text-muted" href="#">Travel</a>#}
            </nav>
        </div>
        <hr>
    </div>
{% endblock %}
<div class="container">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if app.user.blocked==1 %}
            <div class="alert alert-warning" role="alert">
                Admin has blocked you! You have limited access.
            </div>
        {% endif %}
    {% endif %}
</div>
<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% block body %}
    {% block aside %}
        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                {% if about()!=null %}
                <p class="mb-0">{{ about().about }}</p>
                {% endif %}
            </div>

            <div class="p-3">
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    {% for a in archives() %}
                        <li>
                            <a href="{{ path('monthReviews',{'month':a['month'],'year':a['year']}) }}">{{ a['month'] }} {{ a['year'] }}
                                ({{ a['cnt'] }})</a></li>
                    {% endfor %}
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->
    {% endblock %}
{% endblock %}

{% block footer %}
    <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
                    href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a onclick="topFunction()" href="#">Back to top</a>
        </p>
    </footer>
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>

    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>

    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/holder.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        $('#review_form_categories').select2();

        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>

    <script>
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        $("#search").keyup(function (event) {
            if (event.keyCode === 13) {
                window.location.assign('/searchResults?key=' + document.getElementById('search').value)
            }
        });

    </script>
{% endblock %}
</body>