{% extends 'mainAdmin.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Calendar{% endblock %}</title>
        {% block stylesheets %}
            {{ parent() }}
            <style>
                #calendar {
                    max-width: 900px;
                    margin: 20px auto;
                }
            </style>
        {% endblock %}
    </head>
{% endblock %}

{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div id='calendar'></div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                defaultDate: '{{ today }}',
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {% for review in reviews %}
                    {
                        title: '{{ review.title }}',
                        url: '{{ path('showReview',{'rev':review.id}) }}',
                        start: '{{ review.timePosted|date("Y-m-d H:i") }}',
                    },
                    {% endfor %}
                ]
            });

        });

    </script>
{% endblock %}
