{% extends 'mainAdmin.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Dashboard{% endblock %}</title>
        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}
    </head>
{% endblock %}


{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
        </div>
        <h2>Posted Reviews Activity</h2>
        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        <h2>Comment Activity</h2>
        <canvas class="my-4 w-100" id="myChart2" width="900" height="380"></canvas>
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var labels = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var data1 = [];
        var ok = false;
        labels.forEach(function (entry) {
            ok = false;
            {% for u in addedReviewsAccToWeek() %}
            if (entry == "{{ u['d'] }}") {
                data1.push({{ u["cnt"] }});
                ok = true;
            }
            {% endfor %}
            if (!ok) data1.push(0);
        });

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    data: data1,
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });


        var data2 = [];
        var ok2 = false;
        labels.forEach(function (entry) {
            ok2 = false;
            {% for u in addedCommentsAccToWeek() %}
            if (entry == "{{ u['d'] }}") {
                data2.push({{ u["cnt"] }});
                ok2 = true;
            }
            {% endfor %}
            if (!ok2) data2.push(0);
        });

        var ctx2 = document.getElementById("myChart2");
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    data: data2,
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>
{% endblock %}

