{% extends 'mainAdmin.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Reviews{% endblock %}</title>
        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}
    </head>
{% endblock %}


{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">All Reviews</h1>
        </div>
        {% if maxPages > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item {{ thisPage == 1 ? ' disabled' }}">
                        <a class="page-link" href="{{ path('reviews', {page: 1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {# Render each page number #}
                    {% if thisPage<maxPages and thisPage>1 %}
                        {% for i in thisPage-1..thisPage+1 %}
                            <li class="page-item {{ thisPage == i ? ' active' }}">
                                <a class="page-link" href="{{ path('reviews', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                    {% elseif thisPage+1>maxPages %}
                        {% for i in thisPage-1..thisPage %}
                            <li class="page-item {{ thisPage == i ? ' active' }}">
                                <a class="page-link" href="{{ path('reviews', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for i in thisPage..thisPage+1 %}
                            <li class="page-item {{ thisPage == i ? ' active' }}">
                                <a class="page-link" href="{{ path('reviews', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}

                    <li class="page-item {{ thisPage == maxPages ? ' disabled' }}">
                        <a class="page-link" href="{{ path('reviews', {page: maxPages}) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <div class="table-responsive">
            <table class="table table-striped table-sm" data-toggle="table">
                <thead>
                <tr>
                    <th data-sortable="true">#</th>
                    <th data-sortable="true">Title</th>
                    <th data-sortable="true">Image</th>
                    <th data-sortable="true">Moderator</th>
                    <th data-sortable="true">Status</th>
                    <th data-sortable="true">Categories</th>
                    <th data-sortable="true">Comments</th>
                    <th data-sortable="true">Likes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="myTable">
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.id }}</td>
                        <td>{{ review.title|slice(0,50)}}</td>
                        {% if review.img==null %}
                            <td><strong><i>NO</i></strong></td>
                        {% else %}
                            <td><strong><i>YES</i></strong></td>
                        {% endif %}
                        <td>{{ review.moderator.username }}</td>
                        {% if review.deletedAt==null %}
                            <td><strong><i>ACTIVE</i></strong></td>
                        {% else %}
                            <td><strong><i>DELETED</i></strong></td>
                        {% endif %}
                        <td>{% for cat in review.categories %}
                                {{ cat.name }},
                            {% endfor %}</td>
                        <td>{{ review.comments.count }}</td>
                        <td>{{ review.likedBy.count }}</td>
                        <td>
                                <a href="{{ path('showReview',{ 'rev': review.id }) }}"><span data-feather="eye"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}

