{% extends 'mainAdmin.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Users{% endblock %}</title>
        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}
    </head>
{% endblock %}

{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Users</h1>
        </div>
        {% if maxPages > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item {{ thisPage == 1 ? ' disabled' }}">
                        <a class="page-link" href="{{ path('users', {page: 1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {# Render each page number #}
                    {% if thisPage<maxPages and thisPage>1 %}
                        {% for i in thisPage-1..thisPage+1 %}
                            <li class="page-item {{ thisPage == i ? ' active' }}">
                                <a class="page-link" href="{{ path('users', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                    {% elseif thisPage+1>maxPages %}
                        {% for i in thisPage-1..thisPage %}
                            <li class="page-item {{ thisPage == i ? ' active' }}">
                                <a class="page-link" href="{{ path('users', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for i in thisPage..thisPage+1 %}
                            <li class="page-item {{ thisPage == i ? ' active' }}">
                                <a class="page-link" href="{{ path('users', {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}

                    <li class="page-item {{ thisPage == maxPages ? ' disabled' }}">
                        <a class="page-link" href="{{ path('users', {page: maxPages}) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
        {% if users.count==0 %}
            <h2>No Users</h2>
        {% else %}
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-sm" data-toggle="table">
                    <thead>
                    <tr>
                        <th data-sortable="true">#</th>
                        <th data-sortable="true">Username</th>
                        <th data-sortable="true">Email</th>
                        <th data-sortable="true">Name</th>
                        <th data-sortable="true">Surname</th>
                        <th data-sortable="true">Last Login</th>
                        <th data-sortable="true">Status</th>
                        <th data-sortable="true">Deleted At</th>
                        <th data-sortable="true">Role</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for user in users %}
                        <tr>
                            <td>{{ user[0].id }}</td>
                            <td>{{ user[0].username }}</td>
                            <td>{{ user[0].email }}</td>
                            <td>{{ user[0].firstName }}</td>
                            <td>{{ user[0].lastName }}</td>
                            {% if user[0].lastLogin==null %}
                                <td><strong><i>NULL</i></strong></td>
                            {% else %}
                                <td>{{ user[0].lastLogin|date("Y/m/d H:i") }}</td>
                            {% endif %}
                            <td><strong><i>
                                        {% if user[0].enabled==0 %}
                                            DISABLED
                                        {% else %}
                                            ENABLED
                                        {% endif %}
                                        <div id="status_{{ user[0].id }}">
                                            {% if user[0].blocked==1 %}
                                                BLOCKED
                                            {% endif %}
                                        </div>
                                    </i></strong></td>
                            <td>{% if user[0].deletedAt!=null %}
                                    {{ user[0].deletedAt|date("Y/m/d H:i") }}
                                {% else %}
                                    <strong><i>ACTIVE</i></strong>
                                {% endif %}
                            </td>
                            <td>{% for role in user[0].roles %}
                                    {{ role }},
                                {% endfor %}</td>
                            <td>
                                <div style="display: flex;flex-direction: row;justify-content: space-around">
                                    <a href="#promoteModal_{{ user[0].id }}" data-toggle="modal"
                                       data-target="#promoteModal_{{ user[0].id }}">
                                        <img id="promote"
                                             src="{{ asset('images/promotion.png') }}"
                                             style="width: 20px;height: 20px;cursor: pointer;margin-right: 10px"></a>
                                    <div id="b_{{ user[0].id }}">
                                        {% if user[0].blocked==1 %}
                                            <img onclick="unblock({{ user[0].id }})"
                                                 src="{{ asset('images/unblock.png') }}"
                                                 style="width: 20px;height: 20px;cursor: pointer;margin-right: 10px">
                                        {% else %}
                                            <img onclick="block({{ user[0].id }})"
                                                 src="{{ asset('images/block.png') }}"
                                                 style="width: 20px;height: 20px;cursor: pointer;margin-right: 10px">
                                        {% endif %}
                                    </div>
                                    <div id="d_{{ user[0].id }}">
                                        {% if user[0].deletedAt!=null %}
                                            <span style="width: 20px;height: 20px;cursor: pointer;margin-right: 10px"
                                                  data-feather="user-plus"
                                                  onclick="returnUser({{ user[0].id }})"></span>
                                        {% else %}
                                            <span style="width: 20px;height: 20px;cursor: pointer;margin-right: 10px"
                                                  data-feather="user-minus"
                                                  onclick="deleteUser({{ user[0].id }})"></span>
                                        {% endif %}
                                    </div>
                                    {% if user[0].id!=app.user.id %}

                                        <a href="{{ path('chat',{'id':user[0].id}) }}">
                                        <span style="width: 20px;height: 20px;cursor: pointer;margin-right: 10px"
                                              data-feather="message-circle"></span>
                                        </a><sup>({{ user['cnt'] }})</sup>
                                    {% endif %}
                                </div>
                            </td>

                            <div class="modal fade" id="promoteModal_{{ user[0].id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel_{{ user[0].id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true"></button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Roles</h4>
                                        </div>
                                        <div class="modal-body">
                                            <center>
                                                <div class="form-check">
                                                    {% if "ROLE_ADMIN" in user[0].roles %}
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="admin_{{ user[0].id }}" checked>
                                                    {% else %}
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="admin_{{ user[0].id }}">
                                                    {% endif %}
                                                    <label class="form-check-label" for="admin">
                                                        ROLE_ADMIN
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    {% if "ROLE_MODERATOR" in user[0].roles %}
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="moderator_{{ user[0].id }}" checked>
                                                    {% else %}
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="moderator_{{ user[0].id }}">
                                                    {% endif %}
                                                    <label class="form-check-label" for="moderator">
                                                        ROLE_MODERATOR
                                                    </label>
                                                </div>
                                                <button onclick="promote({{ user[0].id }})">Promote/Demote</button>
                                            </center>
                                        </div>
                                        <div class="modal-footer">
                                            <center>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        function block(id) {

            $.ajax({
                type: "POST",
                url: '{{ path('block') }}',
                data: {
                    'id': id
                },
                success: function (result) {
                    if (result === "true") {
                        document.getElementById("b_" + id).innerHTML = "<img onclick='unblock(" + id + ")' src='{{ asset('images/unblock.png') }}'' style='width: 20px;height: 20px;cursor: pointer;margin-right: 10px'>";
                        document.getElementById("status_" + id).innerHTML = "BLOCKED";
                    }
                }
            });

        }

        function unblock(id) {

            $.ajax({
                type: "POST",
                url: '{{ path('unblock') }}',
                data: {
                    'id': id
                },
                success: function (result) {
                    if (result === "true") {
                        document.getElementById("b_" + id).innerHTML = "<img onclick='block(" + id + ")' src='{{ asset('images/block.png') }}'' style='width: 20px;height: 20px;cursor: pointer;margin-right: 10px'>";
                        document.getElementById("status_" + id).innerHTML = "";
                    }
                }
            });

        }

        function promote(id) {
            $.ajax({
                type: "POST",
                url: '{{ path('promote') }}',
                data: {
                    'id': id,
                    'ad': document.getElementById("admin_" + id).checked,
                    'mod': document.getElementById("moderator_" + id).checked
                },
                success: function (result) {
                    if (result === "true") {
                        location.reload();
                    }
                }
            });
        }

        function deleteUser(id) {
            $.ajax({
                type: "POST",
                url: '{{ path('deleteUser') }}',
                data: {
                    'id': id
                },
                success: function (result) {
                    if (result === "true") {
                        location.reload();
                    }
                }
            });

        }

        function returnUser(id) {

            $.ajax({
                type: "POST",
                url: '{{ path('returnUser') }}',
                data: {
                    'id': id
                },
                success: function (result) {
                    if (result === "true") {
                        location.reload();
                    }
                }
            });

        }

    </script>

{% endblock %}

