{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Register{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}

    </head>
{% endblock %}
{% block body %}
    {{ form_start(form, {
        'method': 'post',
        'action': path('fos_user_registration_register'),
        'attr': {
            'class': 'form-signin'
        }})
    }}
    <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="50" height="50">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    {{ form_row(form.email,{
        'label': false,
        'attr':{
            'placeholder':'Email',
            'class':"form-control"

        }
    }) }}
    {{ form_row(form.username,{
        'label': false,
        'attr':{
            'placeholder':'Username',
            'class':"form-control"

        }    }) }}
    {{ form_row(form.firstName,{
        'label': false,
        'attr':{
            'placeholder':'First Name',
            'class':"form-control"

        }
    }) }}
    {{ form_row(form.lastName,{
        'label': false,
        'attr':{
            'placeholder':'Last Name',
            'class':"form-control"

        }
    }) }}
    {{ form_row(form.plainPassword.first,{
           'label':false,
        'attr':{
            'placeholder':'Password',
            'class':"form-control"
        }
    }) }}
    {{ form_row(form.plainPassword.second,{
        'label':false,
        'attr':{
            'placeholder':'Repeat Password',
            'class':"form-control"
        }
    }) }}

    <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />
    <br> Already have an account?
    <a href="{{ path('fos_user_security_login') }}">Sign in</a>
    <br>
    <p><a href="{{ path('home') }}">Go To Homepage</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; G. Ajdini</p>

{{ form_end(form) }}
{% endblock %}