{% trans_default_domain 'FOSUserBundle' %}
{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Change password{% endblock %}</title>
        {% block stylesheets %}
            {{ parent() }}
            <style>
                #parent {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            </style>
        {% endblock %}
    </head>
{% endblock %}
{% block body %}
    <body>
    <main role="main" class="container">
        <div class="row" id="parent">
            {% if app.user.googleId!=null %}
                <h3>You have signed in with your google account. No password to reset!</h3>
            {% else %}
            <div style="width: 30%">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div class="form-group">
                    {{ form_row(form.current_password) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.second) }}
                </div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary"/>
                {{ form_end(form) }}
            </div>
            {% endif %}
        </div>
    </main>
    </body>
{% endblock %}
