{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Login{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}

    </head>
{% endblock %}
{% block body %}
    <form method="post" class="form-signin">

        <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt=""
             width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" placeholder="Username" class="form-control" name="_username"
                required="required" autocomplete="username"/>

        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
        <input type="password" class="form-control" placeholder="Password" id="password" name="_password"
               required="required" autocomplete="current-password"/>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </label>
        </div>
        <a href="{{ path('fos_user_resetting_request') }}">Account disabled or forgotten password?</a>

        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans }}"/>
        <a id="google-button" class="btn btn-block btn-social btn-google" href="/connect/google">
            <i class="fa fa-google"></i> Sign in with Google
        </a>

        <br> Don't have an account yet?
        <a href="{{ path('fos_user_registration_register') }}">Sign up</a>
        <br>
        <p><a href="{{ path('home') }}">Go To Homepage</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; G. Ajdini</p>

    </form>

{% endblock %}