{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Reset{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}

    </head>
{% endblock %}
{% block body %}
    <div style="display: flex;flex-direction: column;" class="lead">
   <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
    <p><a href="{{ path('home') }}">Go to Homepage</a></p>
    </div>
{% endblock %}
