{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Reset{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}

    </head>
{% endblock %}
{% block body %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-signin">

    <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72"
         height="72">
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        <label for="username" >{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" class="form-control" name="username" required="required"/>
    </div>
    <br>
    <div>
        <input type="submit" class="btn btn-lg btn-primary" value="{{ 'resetting.request.submit'|trans }}"/>
    </div>
<br>
    <p><a href="{{ path('fos_user_security_login') }}">Go Back To Sign in</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; G. Ajdini</p>

</form>
{% endblock %}
