{% trans_default_domain 'FOSUserBundle' %}
{% extends 'main.html.twig' %}
{% block head %}
    <head xmlns="http://www.w3.org/1999/html">
        <title>{% block title %}Reset{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
            <style>
                #parent {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            </style>
        {% endblock %}

    </head>
{% endblock %}

{% block body %}
<body>
<main role="main" class="container">
    <div class="row" id="parent">
        {% if app.user!=null %}
        <h3>You are already signed in!</h3>
        {% else %}
        <div style="width: 30%">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            <div class="form-group">
                {{ form_row(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.second) }}
            </div>
            <center>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-primary"/>
            </center>
            {{ form_end(form) }}
        </div>
        {% endif %}
        </div>
</main>
</body>
{% endblock %}



