{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}About{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset('css/profile.css') }}" rel="stylesheet">
        {% endblock %}

    </head>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div style="width: 85%">
                <div style="display: flex;flex-direction: row;align-items: flex-end;justify-content: space-between">
                    <h3>About:</h3>
                    <hr>
                    {% if is_granted("ROLE_MODERATOR") or is_granted("ROLE_ADMIN") %}
                    <a href="#editing" data-toggle="modal" data-target="#edit">
                        <button class="btn btn-sm btn-outline-secondary">Edit About</button>
                    </a>
                    {% endif %}
                </div>
                {% if about()!=null %}
                {{ about().about }}
                {% endif %}
                <hr>
                <h3>Moderators:</h3>
                {% for m in moderators %}
                    <div>
                        <a href="{{ path('moderatorReviews',{ 'moderator': m.username }) }}">{{ m.username }}</a>
                        <p>Bio: {{ m.bio }}</p>
                    </div>
                {% endfor %}
            </div>


            <div class="modal fade" id="edit" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true"></button>
                            <h4 class="modal-title" id="myModalLabel">Edit profile </h4>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form,{'method':'post'}) }}
                            <div class="form-group">
                                {{ form_row(form.about) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.save) }}
                            </div>
                            {{ form_end(form) }}

                        </div>
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>


            {% block aside %}
                <aside>
                    <div class="p-3">
                        <h4 class="font-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            {% for a in archives() %}
                                <li>
                                    <a href="{{ path('monthReviews',{'month':a['month'],'year':a['year']}) }}">{{ a['month'] }} {{ a['year'] }}
                                        ({{ a['cnt'] }})</a></li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div class="p-3">
                        <h4 class="font-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </aside><!-- /.blog-sidebar -->
            {% endblock %}
        </div>
    </main>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}