{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Chat{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}

    </head>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div onload="run" style="width: 65%;">

                <div id="page-wrap">

                    <h2>Chat</h2>

                    <p id="name-area"></p>

                    <div id="chat-wrap">
                        <div id="chat-area">
                            {% for m in messages %}
                                <p id="{{ m.id }}">
                                    <span>{{ m.sender.username }}</span>
                                    {{ m.content }}
                                </p>
                            {% endfor %}

                        </div>
                    </div>

                    <form id="send-message-area">
                        <p>Your message: </p>
                        <textarea id="sendie" maxlength='100'></textarea>
                    </form>

                </div>

            </div>

            {% block aside %}
                {{ parent() }}
            {% endblock %}
        </div>
    </main>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script>
            document.getElementById('chat-area').scrollTop = document.getElementById('chat-area').scrollHeight;


            $('#sendie').keyup(function (e) {

                if (e.keyCode === 13) {

                    var text = $(this).val();
                    var maxLength = $(this).attr("maxlength");
                    var length = text.length;

                    // send
                    if (length <= maxLength + 1) {
                        var id ={{ app.request.get('id') }}

                            $.ajax({
                                type: "POST",
                                url: "{{ path('sendMessage') }}",
                                data: {
                                    'message': text,
                                    'id': id
                                },
                                success: function (result) {
                                    if (result === "true") {
                                        $('#chat-area').append($("<p><span>{{ app.user.username }}</span>" + text + "</p>"));
                                        document.getElementById('chat-area').scrollTop = document.getElementById('chat-area').scrollHeight;
                                    }
                                },
                            });
                        $(this).val("");

                    } else {
                        $(this).val(text.substring(0, maxLength));
                    }

                }

            })
            $('document').ready(read());

            function read() {
                var id ={{ app.request.get('id') }}

                    $.ajax({
                        type: "POST",
                        url: "{{ path('readMessages') }}",
                        data: {
                            'id': id,
                        },
                        success: function (result) {
                            if (result === "true") {
                            }
                        }
                    });
            }

            var run = setInterval(update, 5000);

            function update() {
                var id ={{ app.request.get('id') }}

                    $.ajax({
                        type: "POST",
                        url: "{{ path('checkMessages') }}",
                        data: {
                            'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.length!==0) {
                                for (var i = 0; i < data.length; i++) {
                                    $('#chat-area').append($("<p id=" + data[i]['id'] + "><span>" + data[i]['sender'] + "</span>" + data[i]['content'] + "</p>"));
                                    document.getElementById('chat-area').scrollTop = document.getElementById('chat-area').scrollHeight;
                                }
                                read();
                            }
                        },
                    });
            }
        </script>
    {% endblock %}