{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Home{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
            <style>

            </style>

        {% endblock %}

    </head>
{% endblock %}

{% block body %}
<body>
{% if reviews.count>=3 %}
<div class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">{{ reviews.query.execute[0][0].title }}</h1>
            <p class="lead my-3">{{ (reviews.query.execute[0][0].text|split("</p>")[0]|slice(3,100))|striptags|raw}}...</p>
            <p class="lead mb-0"><a href="{{ path('showReview',{ 'rev': reviews.query.execute[0][0].id }) }}" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">
                        {% for cat in reviews.query.execute[1][0].categories %}
                            {{ cat.name }},
                        {% endfor %}
                    </strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="{{ path('showReview',{ 'rev': reviews.query.execute[1][0].id }) }}">{{ reviews.query.execute[1][0].title }}</a>
                    </h3>
                    <div class="mb-1 text-muted">{{ reviews.query.execute[1][0].timePosted|date("M jS Y") }}</div>
                    <p class="card-text mb-auto">{{ (reviews.query.execute[1][0].text|split("</p>")[0]|slice(3,100))|striptags|raw }}...</p>
                    <a href="{{ path('showReview',{ 'rev': reviews.query.execute[1][0].id }) }}">Continue reading</a>
                </div>
                <img src="{{ asset('images/' ~ reviews.query.execute[1][0].img) }}"
                     class="card-img-right flex-auto d-none d-lg-block"
                     style="width: 200px; height: 250px;object-fit: cover" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">
                        {% for cat in reviews.query.execute[2][0].categories %}
                            {{ cat.name }},
                        {% endfor %}
                    </strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="{{ path('showReview',{ 'rev': reviews.query.execute[2][0].id }) }}">{{ reviews.query.execute[2][0].title }}</a>
                    </h3>
                    <div class="mb-1 text-muted">{{ reviews.query.execute[2][0].timePosted|date("M jS Y") }}</div>
                    <p class="card-text mb-auto">{{ (reviews.query.execute[2][0].text|split("</p>")[0]|slice(3,100))|striptags|raw }}...</p>
                    <a href="{{ path('showReview',{ 'rev': reviews.query.execute[2][0].id }) }}">Continue reading</a>
                </div>
                <img src="{{ asset('images/' ~ reviews.query.execute[2][0].img) }}"
                     class="card-img-right flex-auto d-none d-lg-block"
                     data-src="holder.js/200x250?theme=thumb" alt="Card image cap"
                     style="width: 200px;height: 250px;object-fit: cover">
            </div>
        </div>
    </div>
</div>
    {% endif %}
<main role="main" class="container">
    <div class="row">
{% if followRev==null or followRev.query.execute==null %}

        <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                Most Recent
            </h3>

            {% for review in recent %}
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ review.title }}</h2>
                    <p class="blog-post-meta">{{ review.timePosted|date("F j, Y") }} by <a href="{{ path('moderatorReviews',{'moderator':review.moderator.username}) }}">{{ review.moderator.username }}</a>
                    |
                        {% for cat in review.categories %}
                            <a href="{{ path('categoryReviews',{'category':cat.name|escape('url')}) }}">{{ cat.name }}</a>,
                        {% endfor %}
                    </p>
                    <p>{{ (review.text|split("</p>")[0]|slice(3,400))|striptags|raw }}...</p>
                    <a href="{{ path('showReview',{ 'rev': review.id }) }}">See Full</a>
                    <hr>
                </div><!-- /.blog-post -->
            {% endfor %}


            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="{{ path('recentReviews') }}">More</a>
            </nav>

        </div><!-- /.blog-main -->

{% else %}

            <div class="col-md-8 blog-main">
                <h3 class="pb-3 mb-4 font-italic border-bottom">
                    Your Feed
                </h3>

                {% for review in followRev %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">{{ review.title }}</h2>
                        <p class="blog-post-meta">{{ review.timePosted|date("F j, Y") }} by <a href="{{ path('moderatorReviews',{'moderator':review.moderator.username}) }}">{{ review.moderator.username }}</a>
                            |
                            {% for cat in review.categories %}
                                <a href="{{ path('categoryReviews',{'category':cat.name|escape('url')}) }}">{{ cat.name }}</a>,
                            {% endfor %}
                        </p>
                        <p>{{ (review.text|split("</p>")[0]|slice(3,400))|striptags|raw }}...</p>
                        <a href="{{ path('showReview',{ 'rev': review.id}) }}">See Full</a>
                        <hr>
                    </div><!-- /.blog-post -->
                {% endfor %}


                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="{{ path('feed') }}">More</a>
                </nav>

            </div><!-- /.blog-main -->

{% endif %}
{% block aside %}
    {{ parent() }}
{% endblock %}
</div><!-- /.row -->
</main><!-- /.container -->
</body>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
