{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Add Review{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
            <style>
            </style>

        {% endblock %}

    </head>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
            Add Review
        </h3>
        <div class="row">
            <div style="width: 65%">
                {{ form_start(form,{'method':'post'}) }}
                <div class="form-group">
                    {{ form_row(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.link) }}
                </div><div class="form-group">
                    {{ form_row(form.img) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.categories) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.text) }}
                </div>
                <div style="margin-bottom: 20px">
                    {{ form_row(form.save) }}
                </div>
                {{ form_end(form) }}
            </div>

            {% block aside %}
                {{ parent() }}
            {% endblock %}
        </div>
    </main>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}