{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}
                {% if is_granted('ROLE_USER') and moderator==app.user.username %}
                    My Reviews
                {% else %}
                    {{ moderator }}
                {% endif %}
            {% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
            <style>

            </style>

        {% endblock %}

    </head>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
            {% if is_granted('ROLE_USER') and moderator==app.user.username %}
                My Reviews
            {% else %}
                {{ moderator }}'s Reviews
            {% endif %}
        </h3>
        <div class="row">
            <div style="width: 65%">
                {% if maxPages > 1 %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item {{ thisPage == 1 ? ' disabled' }}">
                                <a class="page-link" href="{{ path('moderatorReviews', {'moderator':moderator,page: 1}) }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {# Render each page number #}
                            {% if thisPage<maxPages and thisPage>1 %}
                                {% for i in thisPage-1..thisPage+1 %}
                                    <li class="page-item {{ thisPage == i ? ' active' }}">
                                        <a class="page-link" href="{{ path('moderatorReviews', {'moderator':moderator,page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}

                            {% elseif thisPage+1>maxPages %}
                                {% for i in thisPage-1..thisPage %}
                                    <li class="page-item {{ thisPage == i ? ' active' }}">
                                        <a class="page-link" href="{{ path('moderatorReviews', {'moderator':moderator,page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for i in thisPage..thisPage+1 %}
                                    <li class="page-item {{ thisPage == i ? ' active' }}">
                                        <a class="page-link" href="{{ path('moderatorReviews', {'moderator':moderator,page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}

                            <li class="page-item {{ thisPage == maxPages ? ' disabled' }}">
                                <a class="page-link" href="{{ path('moderatorReviews', {'moderator':moderator,page: maxPages}) }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}

                {% if reviews.count==0 %}
                    <h4>
                        No results!
                    </h4>
                {% endif %}
                {% for review in reviews %}
                    <div class="blog-post" style="width: 100%">
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">
                                    {% for cat in review.categories %}
                                        <a href="{{ path('categoryReviews',{'category':cat.name|escape('url')}) }}">{{ cat.name }}</a>,
                                    {% endfor %}
                                </strong>
                                <h3 class="mb-0">
                                    <a class="text-dark"
                                       href="{{ path('showReview',{ 'rev': review.id }) }}">{{ review.title }}</a>
                                </h3>
                                <div class="mb-1 text-muted">{{ review.timePosted|date("M jS Y") }}</div>
                                <p class="card-text mb-auto">{{ (review.text|split("</p>")[0]|slice(3,150)|striptags|raw) }}
                                    ...</p>
                                <a href="{{ path('showReview',{ 'rev': review.id }) }}">Continue reading</a>
                            </div>
                            <img src="{{ asset('images/' ~ review.img) }}"
                                 class="card-img-right flex-auto d-none d-lg-block"
                                 style="width: 200px; height: 250px;object-fit: cover"
                                 data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% block aside %}
                <aside class="col-md-4 blog-sidebar">
                    <div class="p-3 mb-3 bg-light rounded">
                        <center><h4 class="font-italic">{{ moderator }}</h4></center>
                        <div class="container">
                            <div class="span3 well">
                                <center>
                                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
                                        {% if moderator.avatar!=null %}
                                        <img src="{{ asset('images/'~moderator.avatar) }}"
                                             name="aboutme"
                                             style="width: 140px;height: 140px;object-fit: cover"
                                             class="img-circle"></a>
                                    {% else %}
                                        <img src="{{ asset('images/avatar.png') }}" name="aboutme" width="140"
                                             height="140" class="img-circle"></a>
                                    {% endif %}
                                    <h3>{{ moderator.firstName }} {{ moderator.lastName }}</h3>
                                    <div style="display: flex;flex-direction: row;justify-content: space-around">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.username!=moderator %}
                                    <div id="follow">
                                        {% if follow==null %}
                                            <span class="badge badge-secondary" id="follow1"
                                                  style="cursor: pointer;background-color: red" onclick="follow()">Follow</span>
                                        {% else %}
                                            <span class="badge badge-secondary" id="follow2"
                                                  style="cursor: pointer" onclick="unfollow()">Unfollow</span>
                                        {% endif %}
                                    </div>
                                    <div id="sub">
                                        {% if sub==null %}
                                            <span class="badge badge-secondary" id="sub1"
                                                  style="cursor: pointer;background-color: red" onclick="subscribe()">Subscribe</span>
                                        {% else %}
                                            <span class="badge badge-secondary" id="sub1"
                                                  style="cursor: pointer" onclick="unsubscribe()">Unsubscribe</span>
                                        {% endif %}
                                    </div>
                                        {% elseif not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <a href="#subsModal" data-toggle="modal" data-target="#subsModal">
                                                <span class="badge badge-secondary" id="sub2"
                                                      style="cursor: pointer;background-color: red">Subscribe</span></a>
                                        {% endif %}
                                    </div>
                                    <em>click on image for more</em>
                                </center>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true"></button>
                                            <h4 class="modal-title" id="myModalLabel">More
                                                About {{ moderator.firstName }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <center>
                                                {% if moderator.avatar!=null %}

                                                    <img src="{{ asset('images/'~moderator.avatar) }}"
                                                         name="aboutme"
                                                         style="width: 140px;height: 140px;object-fit: cover"
                                                         border="0"
                                                         class="img-circle">
                                                {% else %}
                                                    <img src="{{ asset('images/avatar.png') }}"
                                                         name="aboutme" width="140" height="140" border="0"
                                                         class="img-circle">
                                                {% endif %}
                                                <h3 class="media-heading">{{ moderator.firstName }} {{ moderator.lastName }}</h3>
                                            </center>
                                            <hr>
                                            <center>
                                                <p class="text-left"><strong>Bio: </strong><br>
                                                    {{ moderator.bio }}</p>
                                                <br>
                                            </center>
                                        </div>
                                        <div class="modal-footer">
                                            <center>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal -->
                            <div class="modal fade" id="subsModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true"></button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Subscribe to {{ moderator.firstName }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <center>
                                                <label for="email">Email Address</label>
                                                <input type="email" id="email" name="email" placeholder="Email">
                                                <button type="button" style="background-color: red;color: white;"
                                                        onclick="subscribe2()">Subscribe
                                                </button>
                                                <div id="message" style="color: red;"></div>
                                            </center>
                                        </div>
                                        <div class="modal-footer">
                                            <center>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-3">
                        <h4 class="font-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            {% for a in archives() %}
                                <li>
                                    <a href="{{ path('monthReviews',{'month':a['month'],'year':a['year']}) }}">{{ a['month'] }} {{ a['year'] }}
                                        ({{ a['cnt'] }})</a></li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div class="p-3">
                        <h4 class="font-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </aside><!-- /.blog-sidebar -->
            {% endblock %}

        </div>
    </main>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script>

            function follow() {

                var data = {
                    'moderator': {{ moderator.id }}
                };

                $.ajax({
                    type: "POST",
                    url: '{{ path('followModerator') }}',
                    data: data,
                    success: function (result) {
                        if (result === "true") {
                            document.getElementById("follow").innerHTML="<span class=\"badge badge-secondary\" id=\"follow2\"\n" +
                                "                                                  style=\"cursor: pointer\" onclick=\"unfollow()\">Unfollow</span>";
                        }
                    }
                });
            }

            function subscribe() {

                var data = {
                    'moderator': {{ moderator.id }}
                };

                $.ajax({
                    type: "POST",
                    url: '{{ path('subscribe') }}',
                    data: data,
                    success: function (result) {
                        if (result === "true") {
                            document.getElementById("sub").innerHTML="<span class=\"badge badge-secondary\" id=\"sub1\"\n" +
                                "                                                  style=\"cursor: pointer\" onclick=\"unsubscribe()\">Unsubscribe</span>";
                        }
                    }
                });
            }

            function subscribe2() {



                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(document.getElementById('email').value)) {


                    var data = {
                        'moderator': {{ moderator.id }},
                        'email': document.getElementById('email').value,
                    };

                    $.ajax({
                        type: "POST",
                        url: '{{ path('subscribe') }}',
                        data: data,
                        success: function (result) {
                            if (result === "true") {
                                document.getElementById('message').innerHTML = "Subscribed!";
                            }
                            else{
                                document.getElementById('message').innerHTML = "This email address is already subscribed to this moderator!";
                            }
                        }
                    });
                } else {
                    document.getElementById('message').innerHTML = "Not valid email address!";
                }

            }

            function unsubscribe() {

                $.ajax({
                    type: "POST",
                    url: '{{ path('unsub') }}',
                    data: {
                        'id': {{ moderator.id }}
                    },
                    success: function (result) {
                        if (result === "true") {
                            document.getElementById("sub").innerHTML="<span class=\"badge badge-secondary\" id=\"sub1\"\n" +
                                "                                                  style=\"cursor: pointer;background-color: red\" onclick=\"subscribe()\">Subscribe</span>";
                        }
                    }
                });
            }

            function unfollow() {

                $.ajax({
                    type: "POST",
                    url: '{{ path('unfollow') }}',
                    data: {
                        'idM': {{ moderator.id }}
                    },
                    success: function (result) {
                        if (result === "true") {
                            document.getElementById("follow").innerHTML=" <span class=\"badge badge-secondary\" id=\"follow1\"\n" +
                                "                                                  style=\"cursor: pointer;background-color: red\" onclick=\"follow()\">Follow</span>";
                        }
                    }
                });
            }

        </script>
    {% endblock %}