{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}
                {{ app.request.get('month') }} {{ app.request.get('year') }}
            {% endblock %}</title>
        {% block stylesheets %}
            {{ parent() }}
            <style>
            </style>

        {% endblock %}

    </head>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
            {{ app.request.get('month') }} {{ app.request.get('year') }}
        </h3>
        <div class="row">
            <div style="width: 65%">
                {% if maxPages > 1 %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item {{ thisPage == 1 ? ' disabled' }}">
                                <a class="page-link" href="{{ path('monthReviews', {'month':app.request.get('month'),'year':app.request.get('year'),page: 1}) }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {# Render each page number #}
                            {% if thisPage<maxPages and thisPage>1 %}
                                {% for i in thisPage-1..thisPage+1 %}
                                    <li class="page-item {{ thisPage == i ? ' active' }}">
                                        <a class="page-link" href="{{ path('monthReviews', {'month':app.request.get('month'),'year':app.request.get('year'),page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}

                            {% elseif thisPage+1>maxPages %}
                                {% for i in thisPage-1..thisPage %}
                                    <li class="page-item {{ thisPage == i ? ' active' }}">
                                        <a class="page-link" href="{{ path('monthReviews', {'month':app.request.get('month'),'year':app.request.get('year'),page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for i in thisPage..thisPage+1 %}
                                    <li class="page-item {{ thisPage == i ? ' active' }}">
                                        <a class="page-link" href="{{ path('monthReviews', {'month':app.request.get('month'),'year':app.request.get('year'),page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}

                            <li class="page-item {{ thisPage == maxPages ? ' disabled' }}">
                                <a class="page-link" href="{{ path('monthReviews', {'month':app.request.get('month'),'year':app.request.get('year'),page: maxPages}) }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
                {% for review in reviews %}
                    <div class="blog-post" style="width: 100%">
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">
                                    {% for cat in review.categories %}
                                        <a href="{{ path('categoryReviews',{'category':cat.name|escape('url')}) }}">{{ cat.name }}</a>,
                                    {% endfor %}
                                </strong>
                                <h3 class="mb-0">
                                    <a class="text-dark"
                                       href="{{ path('showReview',{ 'rev': review.id }) }}">{{ review.title }}</a>
                                </h3>
                                <div class="mb-1 text-muted">{{ review.timePosted|date("M jS Y") }}
                                    by <a href="{{ path('moderatorReviews',{'moderator':review.moderator.username}) }}">{{ review.moderator.username }}</a>
                                </div>
                                <p class="card-text mb-auto">{{ (review.text|split("</p>")[0]|slice(3,200))|striptags|raw }}...</p>
                                <a href="{{ path('showReview',{ 'rev': review.id }) }}">Continue reading</a>
                            </div>
                            <img src="{{ asset('images/' ~ review.img) }}"
                                 class="card-img-right flex-auto d-none d-lg-block"
                                 style="width: 200px; height: 250px;object-fit: cover"
                                 data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% block aside %}
                {{ parent() }}
            {% endblock %}

        </div>
    </main>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}