{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}Most Popular{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
            <style>
            </style>

        {% endblock %}

    </head>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
            Most Popular
        </h3>
        <div class="row">
            <div style="width: 65%">
                {% if maxPages > 1 %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item {{ thisPage == 1 ? ' disabled' }}">
                                <a class="page-link" href="{{ path('popularReviews', {page: 1}) }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {# Render each page number #}
                            {% if thisPage<maxPages and thisPage>1 %}
                                {% for i in thisPage-1..thisPage+1 %}
                                    <li class="page-item {{ thisPage == i ? ' active' }}">
                                        <a class="page-link" href="{{ path('popularReviews', {page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}

                            {% elseif thisPage+1>maxPages %}
                                {% for i in thisPage-1..thisPage %}
                                    <li class="page-item {{ thisPage == i ? ' active' }}">
                                        <a class="page-link" href="{{ path('popularReviews', {page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for i in thisPage..thisPage+1 %}
                                    <li class="page-item {{ thisPage == i ? ' active' }}">
                                        <a class="page-link" href="{{ path('popularReviews', {page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}

                            <li class="page-item {{ thisPage == maxPages ? ' disabled' }}">
                                <a class="page-link" href="{{ path('popularReviews', {page: maxPages}) }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
                {% if reviews.count==0 %}
                    <h4>
                        No results!
                    </h4>
                {% endif %}
                {% for review in reviews %}
                    <div class="blog-post" style="width: 100%">
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">
                                    {% for cat in review[0].categories %}
                                        <a href="{{ path('categoryReviews',{'category':cat.name|escape('url')}) }}">{{ cat.name }}</a>,
                                    {% endfor %}
                                </strong>
                                <h3 class="mb-0">
                                    <a class="text-dark"
                                       href="{{ path('showReview',{ 'rev': review[0].id }) }}">{{ review[0].title }}</a>
                                </h3>
                                <div class="mb-1 text-muted">{{ review[0].timePosted|date("M jS Y") }}
                                    by <a href="{{ path('moderatorReviews',{'moderator':review[0].moderator.username}) }}">{{ review[0].moderator.username }}</a>
                                    |
                                    {{ review['cnt'] }} {% if review['cnt']==1 %} like {% else %} likes {% endif %}
                                </div>
                                <p class="card-text mb-auto">{{ (review[0].text|split("</p>")[0]|slice(3,200))|striptags|raw}}...</p>
                                <a href="{{ path('showReview',{ 'rev': review[0].id }) }}">Continue reading</a>
                            </div>
                            <img src="{{ asset('images/' ~ review[0].img) }}"
                                 class="card-img-right flex-auto d-none d-lg-block"
                                 style="width: 200px; height: 250px;object-fit: cover"
                                 data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% block aside %}
                {{ parent() }}
            {% endblock %}

        </div>
    </main>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}

    {% endblock %}