{% extends 'main.html.twig' %}
{% block head %}
    <head>
        <title>{% block title %}{{ review.title }}{% endblock %}</title>

        {% block stylesheets %}
            {{ parent() }}
            <style>

            </style>

        {% endblock %}

    </head>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <div style="display: flex;flex-direction: row;align-items: flex-end;justify-content: space-between">
                    <!-- Title -->
                    <h1 class="mt-4">{{ review.title }}</h1>
                    {% if is_granted("ROLE_USER") and app.user.id!=review.moderator.id and review.deletedAt==null %}
                        <div id="like">
                            {% if like==null %}
                                <button class="btn btn-info" onclick="like()">Like</button>
                            {% else %}
                                <button class="btn btn-secondary" onclick="unlike()">Liked</button>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if review.deletedAt!=null %}
                        <button class="btn btn-secondary" disabled>DELETED</button>
                    {% endif %}
                    {% if is_granted("ROLE_MODERATOR") and app.user.id==review.moderator.id %}
                        <div style="display: flex;flex-direction: row;align-items: flex-end;">
                            {% if app.user.blocked==0 %}
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="{{ path('editReview',{'rev':review.id}) }}">Edit Review</a>
                                <button onclick="del()" class="btn btn-sm btn-outline-secondary">Delete Review</button>
                              {% else %}
                                <button class="btn btn-sm btn-outline-secondary" disabled="disabled">Edit Review
                                </button>
                                <button class="btn btn-sm btn-outline-secondary" disabled="disabled">Delete Review
                                </button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <p class="lead">
                    by
                    <a href="{{ path('moderatorReviews',{ 'moderator': review.moderator.username }) }}">{{ review.moderator.username }}</a>
                    |
                    {% for cat in review.categories %}
                        <a href="{{ path('categoryReviews',{'category':cat.name|escape('url')}) }}">{{ cat.name }}</a>,
                    {% endfor %}
                </p>

                <hr>

                <!-- Date/Time -->
                <p>Posted on {{ review.timePosted|date("M jS Y \\a\\t H:i") }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="{{ asset('images/' ~ review.img) }}" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{ review.text|raw }}</p>

                <hr>

                {% if review.link!=null %}
                    <center>
                        <iframe width="500" height="315"
                                src="{{ review.link |replace({'watch?v=': 'embed/'}) }}">
                        </iframe>
                    </center>
                    <hr>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div id="message"></div>
                    <div class="card-body">
                        <div class="form-group">
                            {% if app.user.blocked==0 %}
                            <textarea class="form-control" rows="3" id="contents"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="addComment()">Submit</button>
                        {% else %}
                        <textarea class="form-control" rows="3" id="contents" disabled="disabled"
                                  placeholder="Admin has blocked you!"></textarea>
                    </div>
                    {% endif %}

                </div>
            </div>
            {% endif %}

            {% for comment in review.comments %}
                <div class="media mb-4">
                    {% if comment.user.avatar!=null %}
                        <img class="d-flex mr-3 rounded-circle" src="{{ asset('images/' ~ comment.user.avatar) }}"
                             alt="" style="width: 50px;height: 50px;object-fit: cover">
                    {% else %}
                        <img class="d-flex mr-3 rounded-circle" src="{{ asset('images/avatar.png') }}" alt=""
                             style="width: 50px;height: 50px;object-fit: cover">
                    {% endif %}
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.user.username }}
                        </h5>
                        <p>on {{ comment.timeDone|date("M jS Y H:i") }}</p>
                        {{ comment.content}}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% block aside %}
            {{ parent() }}
        {% endblock %}
        </div>
    </main>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}

        <script>

            function addComment() {

                var data = {
                    'content': document.getElementById('contents').value,
                    'review': {{ review.id }}
                };

                if (/^[a-zA-Z0-9?!\-_.\s'")(]+$/.test(document.getElementById('contents').value)) {
                    $.ajax({
                        type: "POST",
                        url: '{{ path('addComment') }}',
                        data: data,
                        success: function (result) {
                            if (result === "true") {
                                location.reload();
                            }
                        }
                    });
                } else {
                    document.getElementById('message').innerHTML = "Comment should only contain letters, numbers and the symbols ()?!,.-'\"";
                }

            }

            function like() {

                $.ajax({
                    type: "POST",
                    url: '{{ path('like') }}',
                    data: {
                        'id':{{ review.id }}
                    },
                    success: function (result) {
                        if (result === "true") {
                            document.getElementById('like').innerHTML = "<button class=\"btn btn-secondary\" onclick=\"unlike()\">Liked</button>";
                        }
                    }
                });
            }

            function unlike() {

                $.ajax({
                    type: "POST",
                    url: '{{ path('unlike') }}',
                    data: {
                        'id':{{ review.id }}
                    },
                    success: function (result) {
                        if (result === "true") {
                            document.getElementById('like').innerHTML = " <button class=\"btn btn-info\" onclick=\"like()\">Like</button>";
                        }
                    }
                });
            }


            function del() {
                swal({
                    text: "Are you sure you want to delete your review?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            window.location.assign('{{ path('deleteReview',{'rev':review.id})}}');
                        }
                    });
            }
        </script>
    {% endblock %}